In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv('train.csv')
validation_data = pd.read_csv('test.csv')

In [3]:
train_data.head(3)

                                       user  ...               query_time
0  0001cd0d10bbc585c9ba287c963e00873d4c0bfd  ...  2011-10-09 17:21:42.917
1  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234
2  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234

[3 rows x 6 columns]

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42365 entries, 0 to 42364
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user        42365 non-null  object
 1   sku         42365 non-null  int64
 2   category    42365 non-null  object
 3   query       42365 non-null  object
 4   click_time  42365 non-null  object
 5   query_time  42365 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.9+ MB

In [5]:
validation_data.head(3)

                                       user  ...               query_time
0  00025eb02b249434554fe2cacd8562db325df127  ...  2011-09-02 13:04:34.633
1  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:37:58.382
2  000548d17532b70071b7d59edd4797aed1823c60  ...  2011-09-16 17:33:43.237

[3 rows x 5 columns]

In [6]:
validation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28241 entries, 0 to 28240
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user        28241 non-null  object
 1   category    28241 non-null  object
 2   query       28241 non-null  object
 3   click_time  28241 non-null  object
 4   query_time  28241 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train_data.iloc[:, 3:4]=le.fit_transform(train_data.iloc[:, 3:4])

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
train_data.head(3)

                                       user  ...               query_time
0  0001cd0d10bbc585c9ba287c963e00873d4c0bfd  ...  2011-10-09 17:21:42.917
1  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234
2  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234

[3 rows x 6 columns]

In [11]:
X=train_data.iloc[:, 3:4].values
Y=train_data.iloc[:, 1].values

In [12]:
print(X, Y)

[[4446]
 [1419]
 [1419]
 ...
 [ 256]
 [  67]
 [1904]] [2032076 9854804 2670133 ... 3046603 2340293 2953607]

In [13]:
sp_train_x, sp_test_x, sp_train_y, sp_test_y=train_test_split(X, Y, test_size=0.25 ,random_state=0)

### 1. SVC

In [14]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix

In [15]:
classifier=SVC(kernel='rbf', random_state=0)
classifier.fit(sp_train_x, sp_train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [16]:
sp_y_pred=classifier.predict(sp_test_x)

In [17]:
ac=accuracy_score(sp_test_y, sp_y_pred)
print(ac)

0.2952228096676737

### 2. Decision Tree

In [18]:
from sklearn.tree import DecisionTreeClassifier
classifier1 = DecisionTreeClassifier(criterion = 'entropy',random_state=0)
classifier1.fit(sp_train_x, sp_train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [19]:
sp_y_pred_1=classifier1.predict(sp_test_x)

In [20]:
ac_1=accuracy_score(sp_test_y, sp_y_pred_1)
print(ac_1)

0.6203738670694864

### 3. Random Forest

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier2 = RandomForestClassifier(n_estimators= 100, criterion = 'entropy', random_state=0)
classifier2.fit(sp_train_x, sp_train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [22]:
sp_y_pred_2=classifier2.predict(sp_test_x)

In [23]:
ac_2=accuracy_score(sp_test_y, sp_y_pred_2)
print(ac_2)

0.620845921450151